

/* =====================
Universal
=======================*/
/*
h1 {
    color: white !important;
}
*/





/* Header image for all pages */
.sp-page-title {
    background-image: url(https://eitcdn.eit.edu.au/irisinvigilation/Elements/student_using_laptop.jpg) !important;
}

/* Slideshow */
.sppb-slideshow-fullwidth-item.item div {
    background-size: 27% !important;
    background-position: bottom -32% right 14% !important
}

@media only screen and (max-width: 1078px) {
    .sppb-slideshow-fullwidth-item.item div {
        background-position: bottom -8% right 14% !important;
    }
}

@media only screen and (max-width: 767px) {
    .sppb-slideshow-fullwidth-item.item div {
        background-position: bottom -4% right 42% !important;
        background-size: 35% !important;
    }
}


@media only screen and (max-width: 480px) {
    .sppb-slideshow-fullwidth-item.item div {
        background-image: none !important;
    }
}

/* Pricing table */
.sp-page-builder .page-content #pricing {
    background: #103a71;
}

/* Custom price */
span.custom-price {
    font-size: 37%;
}

/* Custom price in mobile */
@media only screen and (max-width: 767px) {
    /* Custom price */ span.custom-price {
        font-size: 90%;
    }
}

/* Remove the background images of numerous modules */
.sp-page-builder .page-content #pricing, .sp-page-builder .page-content #app-contact-form {
    background-image: none;
}

/* Remove text transform uppercase */
.corporate-slider .varition-corporate .sppb-slide-item-bg .sppb-slideshow-fullwidth-item-wrapper .sppb-slideshow-fullwidth-item-text h1.sppb-fullwidth-title {
    text-transform: none;
}




/* Client logos - push the text to the centre */
.client_logos .sppb-addon-title {
    text-align: center;
}



/* Request Demo at Bottom */
.sppb-text-left {
    text-align: center;
}




/*

Contact Page form

*/
.jsn-row-container.row-fluid.jsn-uf-row-container {
    background: #7095d3;
    
}



.jsn-row-container.row-fluid.jsn-uf-row-container label {
    color: white !important;
    font-weight: normal !important;
}


#jsn_form_1.jsn-master .jsn-bootstrap .jsn-form-content .control-group.ui-state-highlight {
    background: none !important;
    border: none !important;
}
